li::before {

  content: "";
  background-image:url( https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/quotes.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px;
  background-repeat: no-repeat;

}

li:after {

    content: url( https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/quotes.png);
    zoom: 0.2;

}

